# Neon Serverless PostgreSQL connection URL
DATABASE_URL="postgresql://neondb_owner:npg_jnmOSuNk6RJ4@ep-misty-dawn-atxtkss3-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
